.GamesList__search-bar {
 padding:15px;
 box-shadow: 0 4px 4px rgba(160, 160, 160, .6);
}

.GamesList__search-input {
    font-size: 22px;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    width: 100%;
}
.Scrollable-games{
    height: 465px;
}
@media screen and (max-width: 800px){
  .Scrollable-games{
  height: 310px;
}
}