code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root{
 --black:#000000;
 --primary-color:#1D0E09;
 --seconday-color:#7A0607;
 --linen:#F9F3e3;
 --vermilion:#D64317;
}

#homePage{
  margin: auto;
  max-width: 500px;
  color: var(--linen);
  display: flex;
  flex-direction: column;
}
h1, p{
  text-align: center;
}
.link-button{
  font-size: 20px;
  padding: 15px 20px;
  margin: 22px 0;
  border-radius: 5px;
  color: var(--linen);
  background-color: var(--black);
  border-color: var(--seconday-color);
}
