
#homePage{
  margin: auto;
  color: var(--black);
  display: flex;
  flex-direction: column;
}
.landing-page-heading, .tag-line, .image-caption {
  text-align: center;
}

.landing-page-heading {
  margin-bottom: 0px;
}

.tag-line {
  margin-top: 0;
  font-size: 18px;
  color: var(--red)
}

#features-wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
}

.image {
  width: 50%;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
}

.image-caption {
  max-width: 400px;
  font-size: 18px;
  color: var(--black);
  align-self: center;
  text-align: justify;
}

.link-button{
  font-size: 20px;
  padding: 15px 20px;
  margin: 22px 2px;
  margin-top: 15px;
  border-radius: 5px;
  color: var(--linen);
  background-color: var(--red);
  border-color: var(--seconday-color);
}

#content-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#links-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}