#homePage{
  margin: auto;
  max-width: 80%;
  color: var(--black);
  display: flex;
  flex-direction: column;

}
.landing-page-heading, .tag-line, .image-caption {
  text-align: center;
}

.landing-page-heading {
  margin-bottom: 0px;
}

.tag-line {
  margin-top: 0;
  font-size: 18px;
  color: var(--red)
}

#features-wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
}

.image {
  width: 1200px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.image-caption {
  max-width: 400px;
  font-size: 18px;
  color: var(--black);
  align-self: center;
  text-align: justify;
}

.link-button{
  font-size: 20px;
  padding: 15px 20px;
  margin: 22px 2px;
  margin-top: 15px;
  border-radius: 5px;
  color: var(--linen);
  background-color: var(--red);
  border-color: var(--seconday-color);
  white-space: nowrap;
}

#content-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 30px;
}

#links-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 1500px) {
  #features-wrapper {
    flex-direction: column;
  }

  .image {
    width: 90%;
    margin: 0 auto;
  }

  .image-caption {
    max-width: 80%;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 500px) {
  .image {
    width: 98%;
    margin: 0 auto;
  }

  .image-caption {
    max-width: 98%;
  }
  
  #links-wrapper {
    width: 100%;
  }
}