#new-squad-container{
  padding-top:25px;
}

#new-squad-form {
  color: var(--linen);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#squad-name-input{
  font-size: 22px;
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  width: 100%;
}
#squad-tags-input{
  font-size: 22px;
  padding: 0 20px;
  border-radius: 5px;
  border: 0px;
}

.tags-input-wrapper{
  border:2px solid var(--primary-color);
  border-radius: 5px;
}
.tags-input{
  padding: 25px 0;
  display: flex;
  
}
textarea:focus, #squad-tags-input:focus{
    outline: none;
}
.tag-wrapper{
  padding:5px 0;
}
#list-tags {
  display: flex;
  margin: 0;
  padding: 10px 0;
}
.squad-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  padding: 8px;
  font-weight: 400;
  color: var(--linen);
  background: var(--red);
  border-radius: 10px;
}
.button-wrapper{
 display: flex;
 justify-content: space-between;
}
.tagList-wrapper{
  padding:0 5px;
}
 .add-tag-button {
  background: var(--red);
  color: var(--linen);
  border-radius: 1px;
  border: 1px solid var(--red);
  font-size: 16px;
  padding: 10px 20px;
}
.new-squad-button {
  background: var(--red);
  color: var(--linen);
  border-radius: 1px;
  border: 1px solid var(--red);
  font-size: 16px;
  padding: 10px 84px;
}
@media screen and (max-width: 800px){
  #squad-tags-input{
    padding:0;
  }
 

.new-squad-button {
   padding: 12px 20px;
}
.new-squad-button{
 padding: 10px 30px;
}
}