.SquadListItem {
  border: 1px solid black;
  margin: 10px 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.SquadListItem__error p{
  margin: 0;
}

.SquadListItem__squad-name {
  margin: 10px 0;
}

.SquadListItem__squad-members {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.SquadListItem__member {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: center;
}

.SquadListItem__member-name {
  padding: 4px 0;
}

.SquadListItem__member-img {
  width: 50px;
  background-color: var(--vermilion);
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  align-self: center;
}

.SquadListItem__squad-info {
  display: flex;
}

.SquadListItem__tags-label {
  margin-right: 10px;
}

.SquadListItem__squad-tags {
  display: flex;
  /* justify-content: ; */
  
}

.SquadListItem__squad-tag {
  align-self: center;
  margin-right: 5px;
  font-size: 18px;
  padding: 5px;
  color: var(--linen);
  background-color: var(--black);
  border: 1px solid var(--vermilion);
  border-radius: 2px;
}

.SquadListItem__join-button {
  margin-left: auto;
  padding: 10px 20px;
  background: var(--red);
  color: var(--linen);
  border-radius: 1px;
  font-size: 16px;
  padding: 10px 20px;
}