.GamesListItem {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.GamesListItem__image {
  width: 150px;
  height: 100%;
  margin-bottom: 10px;
}

.GamesListItem__title {
  align-self: center;
}