.GamesListItem {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

.GamesListItem__image {
  background-size: cover;
  background-position: center top;
  height: 120px;
  margin-bottom: 10px;
  border: 1px solid black;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.GamesListItem__image:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.GamesListItem__title {
  width: 100px;
  flex-wrap: wrap;
  text-align: center;
}
