.LiveChat{
    border-left:1px solid var(--grey);
    border-bottom:1px solid var(--grey);
    color:var(--black);
}

.LiveChat h4{
    text-align: center;
    margin: 0;
    padding: 22px 0px;
    font-size: 28px;;
    box-shadow: 0 4px 4px rgba(160, 160, 160, .6);
    background:#7A0607;
    color: var(--linen);
}

.Scrollable-Chat{
    height:70vh;
}
.Message-Input{
    font-size:18px;
    width:100%;
    margin-bottom:0;
    margin-top:0;
}
.Msg-Ctner{
   padding:10px
}
.ChatHistory{
    padding:10px;
}
.Time-Text{
    float:right;
}
.User-Text{
    font-weight:bold;
    
}
.Chat-SquadList-Ctner{
    position:absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:white;
    z-index:5;
    list-style-type: none;
    margin-top:-40px;
    height:fit-content;
    max-height: 200px;
    width:fit-content;
}
.Drop-Down-Squad{
    height:20px;
    font-size:18px;
    text-align:center;
    margin-bottom: 8px;
}
.Show-List-Btn{
    width:100%;
    font-size:18px;
}