.GameSquadsList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.GameSquadsList__empty-notice {
  margin: 40px;
}

.GameSquadsList__search-bar {
    padding: 15px;
}

.GameSquadsList__search-input {
    font-size: 22px;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    width: 100%;
}

.GameSquadsList__controls {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 4px 4px rgba(160, 160, 160, .6);
}

.GameSquadsList__back-button {
  font-size: 16px;
  padding: 10px 20px;
  background: var(--red);
  color: var(--linen);
}

.GameSquadsList__link-make-squad {
  text-decoration: none;      
  background: var(--red);
  color: var(--linen);
  border-radius: 1px;
  font-size: 16px;
  padding: 10px 20px;
}
.Scrollable-squads{
  max-height: 70vh;
}

@media screen and (max-width: 800px){
  .Scrollable-squads{
  height: 50vh;
}
}