.Dashboard {
  display: flex;
}

.Dashboard__games-list,
.Dashboard__game-squads-list {
  flex: 3;
  
}

.Dashboard__user-access {
  flex: 1;
}

.Dashboard__user-access h3 {
  margin:0;
  
  color:var(--black);
  padding:22px 0px;
  font-size: 28px;
  text-align: center;
  border-bottom: 1px solid var(--greyLines);
}

.Dashboard__user-squads,
.Dashboard__chat {
  flex:1;
}

.Dashboard__user-squads {
  margin-top: 0;
}
.Dashboard_squad-list{
  border-right: 1px solid var(--greyLines);
  flex:1;
}

#mobile-buttons-container{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  visibility: hidden;
}

.mobile-button{
  font-size: 20px;
  padding: 5, 8;
  margin: 10px;
  border-radius: 25px;
}

@media screen and (max-width: 700px){
  .hidden {
    display: none;
  }
  #mobile-buttons-container{
    visibility: visible;
  }

}