.Dashboard {
  display: flex;
}

.Dashboard__games-list {
  flex: 2;
  /* margin: 30px 15px 30px 30px;  */
 
  border-radius: 3px;
  padding:25px;
}

.Dashboard__user-access {
  flex: 1;
}

.Dashboard__user-access h3 {
  margin:0;
  background-color:var(--black);
  color:var(--linen);
  padding:22px 0px;
  font-size: 28px;
  text-align: center;
}

.Dashboard__user-squads,
.Dashboard__chat {
  border: 1px solid var(--linen);
  border-radius: 3px;
  /* width: 80%; */
  flex:1;
}

.Dashboard__user-squads {
  margin-top: 0;
}
.Dashboard_squad-list{
  flex:1;
}