.Header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  border-bottom: 3px solid var(--seconday-color);
  color: var(--linen);
}

.Header a {
  color: white;
  text-decoration: none;
}

.Header__brand {
  margin: 0;
}

.Header__user-avatar {
  filter: invert(100%);
  width: 33px;
}

.Header__logged-in,
.Header__not-logged-in {
  display: flex;
}

.Header__nav a:not(:first-child) {
  align-self: center;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .Header {
    flex-direction: column;
  }
}
