.Header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.Header a {
  color: white;
  text-decoration: none;
}

.Header__brand {
  margin: 0;
}

.Header__nav a:not(:first-child) {
  margin-left: 10px;
}

.Header__nav a:last-child {
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  .Header {
    flex-direction: column;
  }
}
