.My-squads{
  margin:0;
  background-color:var(--black);
  color:var(--linen);
  padding:22px 0px;
  font-size: 28px;
  text-align: center;
}
.user-squads-list{
  list-style: none;
  padding:0;
  background-color: var(--seconday-color);
  margin:0;
}
.squad{
  font-size:22px;
  font-weight: 600;
  padding:10px 0 10px 10px;
  transition: transform .5s;
  margin:0;
  color:var(--linen);
  border:2px solid var(--primary-color);
  text-align: center;
  /* box-shadow: 0 4px 3px var(--vermilion); */
  box-shadow: 0 4px 4px rgba(0, 0, 0, .7);
}
.squad:hover{
  background-color:var(--black);
  color:var(--seconday-color);
  transform: scale(1.03);
}