

.register-section {
  margin: auto;
  max-width: 500px;
  color: var(--black);
}


.register-form {
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--black);
}

.register-button {
  font-size: 20px;
  padding: 15px 20px;
  margin: 22px 0;
  border-radius: 5px;
  color: var(--linen);
  background-color: var(--black);
  border-color: var(--seconday-color);
}
#register-username-input,
#register-password-input,
#register-name-input{
  font-size: 22px;
  padding: 15px 20px;
  margin: 22px 0;
  border-radius: 3px;
}
.Avatar-Container{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width:15%;
  height:15%;
}
.Avatar-Selection-Box{
  width:500px;
  display:flex;
  z-index: 0;
  position: fixed;
  height:300px;
}

@media screen and (max-width: 800px) {
 
  .register-button{
  border:1px solid var(--seconday-color);
  }
  
}
