code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root{
 --black:#000000;
 --primary-color:#1D0E09;
 --seconday-color:#7A0607;
 --linen:#F9F3e3;
 --vermilion:#D64317;
}

.register-section {
  margin: auto;
  max-width: 500px;
  color: var(--linen);
}


.register-form {
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--linin);
}

.register-button {
  font-size: 20px;
  padding: 15px 20px;
  margin: 22px 0;
  border-radius: 5px;
  color: var(--linen);
  background-color: var(--black);
  border-color: var(--seconday-color);
}


@media screen and (max-width: 500px) {
 
  .register-button{
  border:1px solid var(--seconday-color);
  }
}
