@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap rel="stylesheet');
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  
}

.red {
  color: var(--vermilion);
}


:root{
 --black:#212121;
 --primary-color:#3E4551;
 --seconday-color:#37474F;
 --red:#7A0607;
 --linen:snow;
 --vermilion:#D64317;
 --grey:#cccccc;
}
